

# ignore all executables
*.exe 

# ignore vscode files
/.vscode/settings.json
/.vscode/c_cpp_properties.json

# exec files
/build/*.d
/build/*.o
/Pengguna/*.d
/Pengguna/*.o
/Utas/*.d
/Utas/*.o
/Balasan/*.d
/Balasan/*.o
/PermintaanTeman/*.d
/PermintaanTeman/*.o
/DrafKicauan/*.d
/DrafKicauan/*.o
/Kicauan/*.d
/Kicauan/*.o
/FotoProfil/*.d
/FotoProfil/*.o
/Teman/*.d
/Teman/*.o


```